*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body{
    background-color: black;
    background-image: url("images/nightsky.jpg");
}
/*
    Main contains 
*/
main{
    margin:auto;
    background-color: black;
    width: 70%;
    height: 100%;
    
}
button{
    font-size: 20px;
    color: white;
    background-color: black;
    width: 150px;
    padding: 20px;
    border:none;
}
#app{
    margin: auto;
    width: 70%;    
    color:white;
    padding: 25px;
    font-size: 30px;
}
#header{
    width: 100%;
}
#headerButtonOne, #headerButtonTwo, #headerButtonThree{
    display:inline-block;
    text-align: center;
}
#content-space{
    color:white;
    padding-top: 20px;
}

